<div class="header">
  <app-header-nav [headerMessage]="displayMessage"></app-header-nav>
</div>

<div *ngIf="authService.currentUserSignal() as user" class="content-container">
  <div class="side-by-side">
    <!-- <span>User Logged In</span> -->
    <div class="sidenav">
      <app-side-nav [tabNames]="sidenavTabs"></app-side-nav>
    </div>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
    
  </div>
</div>

<div *ngIf="!authService.currentUserSignal()">
  <span>No User Logged In</span>
  <app-login-page></app-login-page>
</div>


