<div class="side-nav-container">
    <div class="side-nav-content">
        <div class="side-nav-icon" (click)="addMovie()">
            <svg lucidePlus title="Add Movie"></svg>
            Add Movie
        </div>


        <div class="side-nav-icon" routerLink="/lists/favorites">
            <svg lucideHeart title="Favorites"></svg>
            Favorites
        </div>

        <div class="side-nav-icon" routerLink="/lists/watchlist">
            <svg lucideEye title="Watchlist"></svg>
            Watchlist
        </div>

        <div class="side-nav-icon" routerLink="/lists/saved">
            <svg lucideBookmark title="Saved Lists"></svg>
            Saved Lists
        </div>

        <div class="side-nav-icon" routerLink="/lists/created">
            <svg lucideWrench title="Created Lists"></svg>
            Created Lists
        </div>

        <div class="side-nav-icon" routerLink="/lists/dnf">
            <svg lucideEyeOff title="DNF List"></svg>
            DNF List
        </div>

        <div class="side-nav-icon" routerLink="/friends">
            
            <svg lucideUsers title="Friends"></svg>
            Friends
        </div>

        <div class="side-nav-icon" routerLink="/recommendations">
            <svg lucideHandshake title="Recommendations"></svg>
            Reccs
        </div>
    </div>

    <div class="bottomSideNav">
        <div>
            <button mat-button>Info</button>
        </div>

        <div>
            <button mat-button>Contact Us</button>
        </div>
    </div>
</div>

<!-- other icons of interest: asteroid -->