<mat-toolbar class="main-header">
    <!-- <mat-card class="main-header"> -->
        <div>{{headerMessage}}</div>
        <div>
            <mat-icon matTooltip="Profile" routerLink="/your-profile" class="header-icon">person</mat-icon>
            <mat-icon matTooltip="Friends" routerLink="/friends" class="header-icon">people_alt</mat-icon>
            <mat-icon matTooltip="Settings" routerLink="/settings" class="header-icon">settings</mat-icon>
            <mat-icon matTooltip="Home" routerLink="/home-feed" class="header-icon">home</mat-icon>
            <mat-icon matTooltip="Other Lists" routerLink="/lists/other-lists" class="header-icon">list</mat-icon>
            <mat-icon matTooltip="Watchlist" routerLink="/lists/watchlist" class="header-icon">visibility</mat-icon>
            <mat-icon matTooltip="Favorites" routerLink="/lists/favorites" class="header-icon">favorite</mat-icon>
        </div>
    <!-- </mat-card> -->
</mat-toolbar>